.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns items on the vertical line (if the flex direction is row) */
    align-items: center; /* Aligns items on the horizontal line (if the flex direction is row) */
    background: #F2F2F2;
    width: 100%;
    color: black;
    padding: 5% 10%; /* You can adjust the padding as needed */
    text-align: center; /* Centers the text */
    background-image: url('../../public/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 425px) {
    #hero{
      padding-top: 12.5%;
    }
  }
  
  