.navbar{
    background: #04340F !important;
}
.nav-link{
    cursor: pointer !important;
}
.active{
    color: white !important;
}
.nav-link, .navbar-brand {
    color: white;

}
.nav-link:hover, .navbar-brand:hover {
    color: white;

}
.Navigation .btn{
    border: 1px solid white !important;
    color: white !important;
}
.navbar-nav{
    margin-left: 50% !important;
}