nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:#000033;
    padding: 1% 0.75% ;
    position: fixed;
    width: 100%;
  }
  .nav-link a{
  
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  
  }