#sec1, #sec2, #sec3{
    display:  flex;
    padding-left: 10%;
}

.links, .external, .info{
    display: flex;
    gap: 5%;
    width: 70%;
}
.right, .left, .text, .img{
    width: 50%;
}
.right p, .left p{
    width: 70%;
}
#exp, #desc, #ask{
    padding-inline: 10%;

}
#desc{
    display: flex;
}
#desc .text p{
    width: 80%;
}
