@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
body{
    overflow: hidden;
}
.weather{
    padding: 10% 7% 5%;
    background: #4B4453;
    width: 60%;
    margin-inline: 20%;
    margin-block: 5%;
    /* margin: 5%  20% 10%; */
    height: max-content;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    background-image: url(../../public/Assets/cloud.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    
}
.temp{
    color: #d51b21;
    font-weight: bold;
}
.search, .location , .Date, #clockdate, .status{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clockdate{
    color: #271a0a9d;
}
.status{
    flex-direction: column;
}
.cloud{
    width: 20%;
    margin-left: 40%;
    
}
.weather1{
    text-transform: capitalize;
    background: #cfcfcd;
    padding: 2%;
    border: 2px solid black;
    border-radius: 5px;
}
.cloud img{
    width: 100%;
}
.search input{
   
    padding: 1.25% 5%;
    border-radius: 50px;
    border: none;
    
    
}
.search{
    gap:10px;
}

.search-button{
    border: none;
    padding: 0.75% 2%;
    border-radius: 50px;
}

#day, #date, #time{
    
    
    padding: 2% 0.5%;
}
@media screen and (max-width:425px){
    .weather{
        width: 80%;
        margin-inline: 5%;
        margin-block: 10%;
        
    }
    .search input, .search .search-button{
        padding: 3% 5%;
    }
    
}
